body {
    margin: 0px;
    background-color: black;
}

header {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
    height: 70px;
    display: flex;
    align-items: left;
    justify-content: left;
    border: 1px red solid;
}

i {
    margin-top: 5px;
    font-size: 45pt;
}

main {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(164, 16, 16, 1) 24%, rgba(0, 0, 0, 1) 45%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 600px;
}

th {
    color: rgb(255, 255, 255);
}

.container h2 {
    color: aliceblue;
}

/* footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: auto;
    background-color: rgb(0, 0, 0);
    margin: 0px;
    width: auto;
    height: 70px;
    pinto
} */