@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

h1 {

    font-family: 'Poppins', sans-serif;
    color: red;
}

table {
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 30px;
    text-align: center;
}

tr:nth-child(even) {
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
